/**
 * app.scss
 * Imports all files from modules
 * @author Alex Cole
 * @author email: alex@arcdevelop.co.uk
 */
/*  ====================
    Abstracts
    ==================== */
/*  ====================
    Base
    ==================== */
html, body {
  height: 100%;
  overflow: visible; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #bf91f1, #34377c);
  font-family: 'Ropa Sans', sans-serif; }

section {
  overflow: hidden;
  width: 100vw; }

.container {
  width: 1000px;
  margin: auto;
  max-width: 100%; }

h1 {
  color: rgba(0, 0, 0, 0.55);
  font-size: 2.1vw; }

.scroley-contain, .scroley-contain * {
  box-sizing: border-box; }

.scroley-contain {
  width: 100%;
  overflow: visible;
  position: relative;
  padding: 40px 0; }

.scroley {
  display: flex;
  overflow: visible;
  transition: all 0.5s ease 0s;
  margin: 40px 0; }

.scroley-item {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center; }

.scroley-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 30px; }
  .scroley-controls label {
    font-size: 28px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 0.6;
    color: #FFF;
    cursor: pointer; }
    .scroley-controls label:hover {
      background-color: rgba(0, 0, 0, 0.5); }

.scroley::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

.scroley::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px; }

.scroley::-webkit-scrollbar-track {
  background: transparent; }

#prev-1:checked ~ .scroley {
  transform: translateX(0px); }

#prev-1:checked ~ .scroley-controls:not(.scroley-controls-1) {
  display: none; }

#prev-2:checked ~ .scroley {
  transform: translateX(0px); }

#next-1:checked ~ .scroley {
  transform: translateX(-350px); }

#next-1:checked ~ .scroley-controls:not(.scroley-controls-2) {
  display: none; }

#prev-2:checked ~ .scroley {
  transform: translateX(-0px); }

#prev-2:checked ~ .scroley-controls:not(.scroley-controls-1) {
  display: none; }

#next-2:checked ~ .scroley {
  transform: translateX(-700px);
  opacity: 1; }

#next-2:checked ~ .scroley-controls:not(.scroley-controls-3) {
  display: none; }

#prev-3:checked ~ .scroley {
  transform: translateX(-350px); }

#prev-3:checked ~ .scroley-controls:not(.scroley-controls-2) {
  display: none; }

#next-3:checked ~ .scroley {
  transform: translateX(-1050px);
  opacity: 1; }

#next-3:checked ~ .scroley-controls:not(.scroley-controls-4) {
  display: none; }

#prev-4:checked ~ .scroley {
  transform: translateX(-700px); }

#prev-4:checked ~ .scroley-controls:not(.scroley-controls-3) {
  display: none; }

#next-4:checked ~ .scroley {
  transform: translateX(-1400px);
  opacity: 1; }

#next-4:checked ~ .scroley-controls:not(.scroley-controls-5) {
  display: none; }

#prev-5:checked ~ .scroley {
  transform: translateX(-1050px); }

#prev-5:checked ~ .scroley-controls:not(.scroley-controls-4) {
  display: none; }

#next-5:checked ~ .scroley {
  transform: translateX(-1750px);
  opacity: 1; }

#next-5:checked ~ .scroley-controls:not(.scroley-controls-6) {
  display: block; }
