html, body {
  height: 100%;
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #bf91f1, #34377c);
  font-family: 'Ropa Sans', sans-serif;
}

header {
  position: fixed;
  flex: none;
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
}

section {
  overflow: hidden;
  width: 100vw;
}

.container {
  width: 1000px;
  margin: auto;
  max-width: 100%;
}

header .container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

h1 {
  color: #000c;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin: 0 0 0 26px;
}

p {
  font-size: 1rem;
  color: #00000078;
  margin: 7px 0 0 16px;
}