html, body {
  height: 100%;
  overflow: visible;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #bf91f1, #34377c);
  font-family: 'Ropa Sans', sans-serif;
}

section {
  overflow: hidden;
  width: 100vw;
}

.container {
  width: 1000px;
  margin: auto;
}

h1 {
  color: rgba(0,0,0,0.55);
  font-size: 2.1vw;
}