
.scroley-contain, .scroley-contain * {
  box-sizing: border-box;
}

.scroley-contain {
  width: 100%;
  overflow: visible;
  position: relative;
  padding: 40px 0;
}

.scroley {
  display: flex;
  overflow: visible;
  transition: all 0.5s ease 0s;
  margin: 40px 0;
}

.scroley-item {
  flex-shrink: 0;
  width: $itemWidth;
  height: $itemHeight;
  margin-right: $itemMargin;
  border-radius: 10px;
  background: #eee;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroley-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 30px;

  label {
    font-size: 28px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 0.6;
    color: #FFF;
    cursor: pointer;


    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.scroley::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroley::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.scroley::-webkit-scrollbar-track {
  background: transparent;
}
// 1st item previous controller
#prev-1:checked ~ .scroley {
  transform: translateX(0px);
}
#prev-1:checked ~ .scroley-controls:not(.scroley-controls-1) {
  display: none;
}

#prev-2:checked ~ .scroley {
  transform: translateX(0px);
}

#next-1:checked ~ .scroley {
  transform: translateX(-#{$itemTotal});
}

#next-1:checked ~ .scroley-controls:not(.scroley-controls-2) {
  display: none;
}

// loop rest of controllers
@for $i from 2 through $numberOfSlides {
  // previous controller
  $plusOne: $i + 1;
  $lessOne: $i - 1;
  $multiplyer: $i - 2;
  $multiplyerPush: $i;
  $pull: $itemTotal * $multiplyer;
  $push: $itemTotal * $multiplyerPush;

  #prev-#{$i}:checked ~ .scroley {
    transform: translateX(-#{$pull});
  }

  #prev-#{$i}:checked ~ .scroley-controls:not(.scroley-controls-#{$lessOne}) {
    display: none;
  }

  // next controllers
  #next-#{$i}:checked ~ .scroley {
    transform: translateX(-#{$push});
    opacity: 1;
  }

  #next-#{$i}:checked ~ .scroley-controls:not(.scroley-controls-#{$plusOne}) {
    @if $i == $numberOfSlides {
      display: block;
    }@else {
      display: none;
    }

  }
}


// every slide has a before and after which is the prev and next buttons
// only checked before and after is visible
// inputs for each item
// scroll snap