
.scroley-contain, .scroley-contain * {
  box-sizing: border-box;
}

.scroley-contain {
  width: 100%;
  overflow: visible;
  position: relative;
}

.scroley {
  display: flex;
  overflow: visible;
  transition: all 0.5s ease 0s;
  padding: 40px 0;
}

.scroley-item {
  flex-shrink: 0;
  width: $itemWidth;
  height: $itemHeight;
  margin-right: $itemMargin;
  border-radius: 10px;
  background: #eee;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroley-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 30px;

  label {
    font-size: 15px;
    padding: 10px;
    display: inline-block;
  }
}

.scroley::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroley::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.scroley::-webkit-scrollbar-track {
  background: transparent;
}

@for $i from 1 through $numberOfSlides {
  $value: $i * 2 - 1;
  // stuff
}
#prev-1:checked ~ .scroley {
  transform: translateX(0px);
}

#prev-1:checked ~ .scroley-controls:not(.scroley-controls-1) {
  display: none;
}

#prev-2:checked ~ .scroley {
  transform: translateX(0px);
}

#prev-2:checked ~ .scroley-controls:not(.scroley-controls-1) {
  display: none;
}

#prev-3:checked ~ .scroley {
  transform: translateX(-350px);
}

#prev-3:checked ~ .scroley-controls:not(.scroley-controls-2) {
  display: none;
}

#next-1:checked ~ .scroley {
  transform: translateX(-350px);
}

#next-1:checked ~ .scroley-controls:not(.scroley-controls-2) {
  display: none;
}

#next-2:checked ~ .scroley {
  transform: translateX(-700px);
}

#next-2:checked ~ .scroley-controls:not(.scroley-controls-3) {
  display: none;
}


// every slide has a before and after which is the prev and next buttons
// only checked before and after is visible
// inputs for each item
// scroll snap