// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for use with scss files.
// -----------------------------------------------------------------------------


// Variables
$numberOfItems: 5;
$carouselHeight: auto;
$carouselWidth: auto;
$itemWidth: 460px;
$itemHeight: 300px;
$itemMargin: 24px;
$itemTotal: $itemWidth + $itemMargin;

// Mobile sizes
$itemWidthMob: 260px;
$itemHeightMob: 300px;
$itemMarginMob: 24px;
$itemTotalMob: $itemWidthMob + $itemMarginMob;
