// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for use with scss files.
// -----------------------------------------------------------------------------

// Public Path
// ==========================================================================

$public-path: "/assets";

// Grid
// ==========================================================================

// Columns
$grid-columns: 14;
$gap-width: 0.75rem;

// Breakpoints
$grid-breakpoint-mob: 568;
$grid-breakpoint-tab: 768;
$grid-breakpoint-desk: 1024;
$grid-breakpoint-hd: 1408;
$grid-breakpoint-hd-full: 1601;