// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for use with scss files.
// -----------------------------------------------------------------------------


// Variables
$numberOfSlides: 5;
$carouselHeight: auto;
$carouselWidth: auto;
$itemWidth: 300px;
$itemHeight: 300px;
$itemMargin: 50px;
$itemTotal: $itemWidth + $itemMargin;
//$offset: 200px;